/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  font-family: 微软雅黑;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
  font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
  border: 0;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

[hidefocus], summary {
  outline: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

sup, sub {
  font-size: 83%;
}

pre, code, kbd, samp {
  font-family: inherit;
}

q:before, q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label, summary {
  cursor: default;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold;
}

del, ins, u, s, a, a:hover {
  text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 微软雅黑, \5b8b\4f53;
  color: #333;
  outline: 0;
}

body, html {
  height: 100%;
}

body {
  background-color: #f4f4f4;
  min-width: 1220px;
}

a, a:hover {
  color: #333;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearFix:before, .clearFix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearFix:after {
  clear: both;
}

.clearFix {
  zoom: 1;
}
.shade-div {
  position: absolute;
  left: 0;
  top: 0;
  background: #000000;
  filter: alpha(opacity=50);
  opacity: 0.5;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
  z-index: 1000;
  height: 100%;
}
.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.container {
  width: 1200px;
  min-height: 650px;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
/*  overflow: hidden;*/
}

.el-container {
  background-color: #f2f6fe;
}

.container .el-container, .heipBoxer {
  min-height: calc(100vh - 290px)
}

/*.el-main{padding:30px 50px 20px 50px;}*/
.noLeftBox .el-main {
  padding: 50px 100px 50px 100px;
}

.el-main {
  background: #fff;
}

#iconDiv1{
	position: relative;
}

#iconDivMain1{
	right: 0 !important;
	left: auto !important;
}
.quill-editor{line-height: normal;}
.quill-editor:not(.bubble) .ql-container{
	height: 200px;
}